# Node modules & build artifacts
node_modules
.output
dist
.nuxt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git & local environment
.git
.gitignore
.env
.env.*.local
*.local

# OS files
.DS_Store
Thumbs.db

#
.env